@model AirlinesReservation.Models.City
<div class="modal fade citymodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Emloyee</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("_Create", "City", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal" style="color:black;font-size:1.5em;">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.City_name, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.City_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.City_name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Airport_name, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Airport_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Airport_name, "", new { @class = "text-danger" })
                        </div>
                      
                        <div class="form-group">
                            @Html.LabelFor(model => model.latitude, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.latitude, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.latitude, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.longitude, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.longitude, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.longitude, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="mb-3" style="margin-top:1.5em;">
                                <input type="submit" value="Create" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
