@model IEnumerable<AirlinesReservation.Models.Discount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

@Html.Raw(TempData["mes"])
<div class="container-fluid">
    <div class="row page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="~/Flights/index">Admin</a></li>
            <li class="breadcrumb-item"><a href="">Manage Emloyee</a></li>
        </ol>
    </div>
    <div class="card-header d-flex justify-content-between">
        <div> <h4 class="card-title">Manage Discount</h4></div>>
        <button type="button" class="btn btn-rounded btn-success pull-right" data-bs-toggle="modal" data-bs-target=".dicount">
            <span class="btn-icon-start text-info">
                <i class="fa fa-plus color-info"></i>
            </span>Add
        </button>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example3" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Discount_id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Discount1)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Flight.Flight_id)
                                </th>
                                <th></th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Discount_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Discount1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Flight.Flight_id)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Discount_id }, new { @class = "btn btn-primary shadow btn-xs sharp me-1 fas fa-pencil-alt" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Discount_id }, new { @class = "btn btn-primary shadow btn-xs sharp me-1 fa fa-trash" })
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



