
@{
    ViewBag.Title = "mybooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white mb-5">
                <div class="card-heading clearfix border-bottom mb-4">
                    <h4 class="card-title">Booking Requests</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        @foreach(var book in ViewBag.booking) { 
                        <li class="position-relative booking">
                            <div class="media">
                                <div class="msg-img">
                                    <img src="@Html.Action("imgusser", new { id = book.User_id })" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Booking Date:</span>
                                        <span class="bg-light-blue">@Html.Action("getbook", new { id = book.Booking_ID })</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Flight:</span>
                                        <span class="bg-light-blue">@Html.Action("getcityform", new { seatid = book.Seat_id })=>@Html.Action("getcityto", new { seatid = book.Seat_id })</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Date:</span>
                                        <span class="bg-light-blue">@Html.Action("getdateflight", new { seatid = book.Seat_id })</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Row:</span>
                                        <span class="bg-light-blue">@Html.Action("getchartstring", new { seatid = book.Seat_id })</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Seat:</span>
                                        <span class="bg-light-blue">@Html.Action("getchartnumber", new { seatid = book.Seat_id })</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">Price:</span>
                                        <span class="bg-light-blue">$@book.Price</span>
                                    </div>
                                    @if (book.Status==2)
                                    {
                                        <a href="#" class="btn-gray">Buy</a>
                                    }

                                </div>
                            </div>
                            <div class="buttons-to-right">
                                <a href="#" class="btn-gray mr-2"><i class="far fa-times-circle mr-2"></i>Cancel</a>
                                <a href="#" class="btn-gray"><i class="far fa-check-circle mr-2"></i>Changs</a>
                            </div>
                        </li>
                        }
                       
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>

